<template>
  <div class="title">
    <h1>About Page</h1>
  </div>
</template>

<script>
export default {
    name: 'About'
};
</script>

<style lang="scss" scoped>
    .title {
        h1 {
            color: red;
        }
    }
</style>